In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Broome,42.2506,-75.8330,74.46,50,100,3.00,US,2022-06-11 17:54:14
1,1,Dingle,10.9995,122.6711,76.84,90,72,2.15,PH,2022-06-11 17:54:15
2,2,Rikitea,-23.1203,-134.9692,74.25,80,30,13.49,PF,2022-06-11 17:52:57
3,3,Oskaloosa,41.2964,-92.6444,75.40,83,75,5.75,US,2022-06-11 17:54:15
4,4,Grindavik,63.8424,-22.4338,55.35,76,75,17.27,IS,2022-06-11 17:54:15

In [12]:
#get the data types.

city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [24]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [25]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [28]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [32]:
# Filter the dataset to find the cities that fit the criteria. conditional statement
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Dingle,10.9995,122.6711,76.84,90,72,2.15,PH,2022-06-11 17:54:15
3,3,Oskaloosa,41.2964,-92.6444,75.40,83,75,5.75,US,2022-06-11 17:54:15
5,5,Buchanan,5.8808,-10.0467,79.66,79,98,8.52,LR,2022-06-11 17:54:16
7,7,Cam Ranh,11.9214,109.1591,82.36,74,20,2.30,VN,2022-06-11 17:51:39
12,12,Kalaleh,37.3807,55.4916,78.40,53,40,13.80,IR,2022-06-11 17:54:18
13,13,Puerto Ayora,-0.7393,-90.3518,78.76,88,76,7.00,EC,2022-06-11 17:54:19
14,14,Samarai,-10.6167,150.6667,79.93,80,77,6.20,PG,2022-06-11 17:54:20
15,15,Jatibonico,21.9419,-79.1700,88.36,56,63,5.26,CU,2022-06-11 17:54:20
21,21,Portel,-1.9356,-50.8211,81.63,76,98,2.95,BR,2022-06-11 17:54:24
23,23,Santiago,-33.4569,-70.6483,79.29,29,0,3.44,CL,2022-06-11 17:54:24

In [33]:
#determine if any vales are null
preferred_cities_df.count()

City_ID       241
City          241
Lat           241
Lng           241
Max Temp      241
Humidity      241
Cloudiness    241
Wind Speed    241
Country       241
Date          241
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1         Dingle      PH     76.84  10.9995  122.6711
3      Oskaloosa      US     75.40  41.2964  -92.6444
5       Buchanan      LR     79.66   5.8808  -10.0467
7       Cam Ranh      VN     82.36  11.9214  109.1591
12       Kalaleh      IR     78.40  37.3807   55.4916
13  Puerto Ayora      EC     78.76  -0.7393  -90.3518
14       Samarai      PG     79.93 -10.6167  150.6667
15    Jatibonico      CU     88.36  21.9419  -79.1700
21        Portel      BR     81.63  -1.9356  -50.8211
23      Santiago      CL     79.29 -33.4569  -70.6483

In [51]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 
    # Grab the first hotel from the results and store the name.
    try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
      except (IndexError):
    print("Hotel not found... skipping.")

IndentationError: expected an indented block (819769870.py, line 23)